footer {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    column-gap: 2em;
    color: rgba(255, 255, 255, 0.85);
  }

  /* Logo */
  footer > img {
    margin-bottom: 0;
  }

  /* Nederland-knop */
  footer > a {
    width: auto;
    margin-bottom: 0;
    padding: 0.3em 1em;
    font-size: 0.9em;
  }



  

  footer summary {
    pointer-events: none;
  }

  footer summary::after {
    display: none;
  }

 

  footer > section:nth-of-type(1),
  footer > section:nth-of-type(2) {
    border-top: none;
    padding-top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3em;
    margin-top: 2em;
  }

  /* Tekst iets rustiger */
  footer a {
    font-size: 0.9em;
    font-weight: 500;
  }



  footer > section:nth-of-type(3) {
    display: block;
    border-top: none;
    padding-top: 0;
    margin-top: 2em;
  }

  footer > section:nth-of-type(3) a {
    display: block;
    margin-bottom: 0.6em;
  }